/* ------------------- Card practice setting ------------------- */

/* Note: practice-disabled and backwards-practice-enabled can both be applied. 
TODO: Check if this introduces a bug in card generation.  
*/

/* Disable current indicators */
.strikediag,
.separatorCharacterAnnotation,
.MultiLineCardIndicator {
  font-size: 0;
}

.rem-container--practice-enabled.rem-container--backwards-practice-enabled
  .concept_rem_type::after,
.rem-container--practice-enabled.rem-container--backwards-practice-enabled
  .descriptor_rem_type::after {
  content: "⇔";
  font-size: 15px;
  color: goldenrod;
  margin-left: 3px;
}

.rem-container--practice-enabled.rem-container--backwards-practice-disabled
  .concept_rem_type::after,
.rem-container--practice-enabled.rem-container--backwards-practice-disabled
  .descriptor_rem_type::after,
.rem-container--practice-enabled.rem-container--backwards-practice-disabled
  .question_rem_type::after {
  content: "⇒";
  font-size: 15px;
  color: green;
  margin-left: 3px;
}

.rem-container--practice-disabled .strikediag::after {
  content: "⇏";
  font-size: 15px;
  color: orangered;
  margin-left: 3px;
}

/* warn on back questions */
.rem-container--practice-enabled.rem-container--backwards-practice-enabled
  .question_rem_type::after {
  content: "!⇔!";
  font-size: 15px;
  color: red;
  margin-left: 3px;
}

/* ------------------- Rem type ------------------- */
.rem-container--concept-rem-type:not(.rem-container--focused)
  > div
  > div:not(.rich-text-editor).EditorContainer::before {
  content: "｢C｣ ";
  content: "〈C〉 ";
  font-weight: bold;
  color: green;
}
.rem-container--descriptor-rem-type:not(.rem-container--focused)
  > div
  > div:not(.rich-text-editor).EditorContainer::before {
  content: "〈D〉 ";
  font-weight: bold;
  color: royalblue;
}
.rem-container--question-rem-type:not(.rem-container--focused)
  > div
  > div:not(.rich-text-editor).EditorContainer::before {
  content: "〈?〉 ";
  font-weight: bold;
  color: mediumpurple;
}

.rem-container--slot-rem-type:not(.rem-container--focused)
  > div
  > div:not(.rich-text-editor).EditorContainer::before {
  content: "〈📥〉 ";
  color: grey;
}

/* no_content-rem-type are code blocks for example. */
/*.rem-container--no_content-rem-type:not(.rem-container--focused) > div > div:not(.rich-text-editor).EditorContainer::before {
	content: "🖹 ";
	font-weight: bold;
	color: blue;
}
*/

/* ------------------- Card type ------------------- */
/* Default Text Type */
/*
.rem-container--text-card-type .rem-text .concept_rem_type::before,
.rem-container--text-card-type .rem-text .descriptor_rem_type::before,
.rem-container--text-card-type .rem-text .slot_rem_type::before,
.rem-container--text-card-type .rem-text .question_rem_type::before {
  content: "T";
  color: green;
}
*/

.rem-container--multiline-card-type .rem-text .concept_rem_type::before,
.rem-container--multiline-card-type .rem-text .descriptor_rem_type::before,
/*.rem-container--multiline-card-type .rem-text .slot_rem_type::before,*/
.rem-container--multiline-card-type .rem-text .question_rem_type::before {
  content: " ☰ ";
  color: plum;
}
.rem-container--list-card-type .rem-text .concept_rem_type::before,
.rem-container--list-card-type .rem-text .descriptor_rem_type::before,
/*.rem-container--multiline-card-type .rem-text .slot_rem_type::before, */
.rem-container--list-card-type .rem-text .question_rem_type::before {
  content: "［...］";
  content: "[ … ] ";
  content: "[⋯] ";
  color: mediumseagreen;
}

.rem-container--set-card-type .rem-text .concept_rem_type::before,
.rem-container--set-card-type .rem-text .descriptor_rem_type::before,
/*.rem-container--multiline-card-type .rem-text .slot_rem_type::before, */
.rem-container--set-card-type .rem-text .question_rem_type::before {
  content: "［...］";
  content: "[ … ] ";
  content: "{⋯} ";
  color: coral;
}

/* ------------------- Text styling ------------------- */
/* As we have visual indication through icons, we don't need text styling anymore. */
.concept_rem_type,
.question_rem_type {
  font-weight: initial;
}

.descriptor_rem_type {
  font-style: initial;
}
